.test-builder-main {
  margin-top: 1%;
  position: relative;
}

.test-filter{
  z-index: 3;
  position: relative;
}
.test-filter:hover {
  z-index: 5;
  position: relative;
}

.Select-input input[fixCaret] {
  margin-left: 0;
}
