.header{
  font-size: 16px;
  width: 100%;
  height: 50px;
  text-align: right;
  background-color: #1a9f29;
  margin-bottom: 1%;
  align-items: center;
}
.text {
  position: absolute;
  color: #fff;
  margin-left: 8%;
  margin-top: 14px;
  font: 17px/19px SeroPro,Helvetica Neue,Helvetica,Arial,sans-serif;
}
.exit-button{
  position: absolute;
  margin-top: 8px;
  margin-left: 94%;
  margin-right: 10%;
}

.homepage-button{
  position: absolute;
  margin-top: 8px;
  margin-left: 1%;
  margin-right: 10%;
}
