.header{
  font-size: 16px;
  width: 100%;
  height: 50px;
  text-align: right;
  background-color: rgb(69,122,140);
  align-items: center;
}
.text {
  position: absolute;
  color: #fff;
  margin-left: 5%;
  margin-top: 14px;
  font: 17px/19px SeroPro,Helvetica Neue,Helvetica,Arial,sans-serif;
}

.homepage-button{
  position: absolute;
  margin-top:0.3%;
  margin-left: 1%;
  margin-right: 10%;
  width: 2%;
}

.group-button{
  position: absolute;
  margin-top: 8px;
  margin-right: 10px;
}
